#create {
  background: $background;

  #main-content {
    background: $white;
    min-height: 550px;
    border-radius: 15px;
    box-shadow: 0 2px 3px 2px rgba(197, 197, 197, 0.22);

    h1 {
      font-size: 24px;
      font-family: $title-font;
    }

    form {
      width: 100%;
    }

    .btn {
      border-radius: 20px;
      padding: 5px 25px 5px 25px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1.25px;
      text-transform: uppercase;

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .btn-form {
      background: $green;
      color: $white;
      transition: background 0.2s ease-in;
      -moz-transition: background 0.2s ease-in;
      -webkit-transition: background 0.2s ease-in;

      &:hover {
        background: darken($color: $green, $amount: 5);
      }
    }

    .form-group {
      position: relative;
      height: 56px;

      input {
        display: block;
        font-size: 16px;
        width: 100%;
        height: 100%;
        background: $input-bg;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        border: rgba(128, 212, 143, 0) 1px solid;
        padding: 20px 20px 6px 20px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;

        &:focus {
          border: $blue 1px solid;
          outline: none;
        }

        &:focus ~ label {
          color: $blue;
          top: 5px;
          font-size: 12px;
          cursor: auto;
        }
      }

      label {
        color: $gray;
        font-size: 16px;
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 15px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;

      }
    }

  }
}