#index {
  height: 100%;
  background: $blue;
  color: $black;
  overflow-y: scroll;

  //typography
  h1 {
    font-size: 24px;
    font-family: $title-font;
  }

  h2 {
    font-size: 20px;
    font-family: $title-font;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    font-family: $body-font;
    letter-spacing: 0.15px;
  }

  .text-bold {
    font-weight: 500;
  }

  #profile {
    background: $white;
    border-radius: 15px;


    #header {
      margin-top: -20px;
    }

    .profile-image {
      height: 125px;
      width: 125px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }

    .edit-profile {
      color: $blue;
      position: relative;
    }

    .edit-profile .tip {
      transition: opacity .2s ease-in-out;
      opacity: 0;
      visibility: hidden;
      width: 120px;
      background-color: lighten($black, 10);
      color: $white;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      top: 100%;
      left: -100%;
      margin-left: -100%;
      position: absolute;
      z-index: 1;
    }

    .edit-profile:hover .tip {
      visibility: visible;
      opacity: 1;
    }

  }

  #library {
    h1 {
      color: $white;
    }

    .add-book {
      color: $white;
      position: relative;

      .tip {
        transition: opacity .2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        width: 120px;
        background-color: lighten($black, 10);
        color: $white;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        top: 100%;
        left: -100%;
        margin-left: -100%;
        position: absolute;
        z-index: 1;

      }

    }

    .add-book:hover .tip {
      visibility: visible;
      opacity: 1;
    }

    .log-out {
      color: $white;
      position: relative;

      .tip {
        transition: opacity .2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        width: 60px;
        background-color: lighten($black, 10);
        color: $white;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        top: 100%;
        left: -100%;
        position: absolute;
        z-index: 1;
      }
    }


    .log-out:hover .tip {
      visibility: visible;
      opacity: 1;
    }

    .col-md-4 {
      padding: 15px;
    }

    .cover {
      position: relative;
      overflow: hidden;
      height: 280px;
      border-radius: 15px;
      transition: transform .2s ease-in-out;
      -moz-transition: transform .2s ease-in-out;

      img {
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }


}

#edit-profile {
  h1 {
    font-size: 24px;
    font-family: $title-font;
  }

  h2 {
    font-size: 20px;
    font-family: $title-font;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    font-family: $body-font;
    letter-spacing: 0.15px;
  }

  opacity: 0;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba($black, .9);
  height: 100%;
  visibility: hidden;
  transition: opacity .2s ease-in;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  #main-content {
    min-height: 550px;
    background: $white;
    border-radius: 15px;
  }

  .current-image {
    height: 120px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  form {
    width: 100%;
  }

  .form-group {
    position: relative;
    height: 56px;

    input {
      display: block;
      font-size: 16px;
      width: 100%;
      height: 100%;
      background: $input-bg;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      border: rgba(128, 212, 143, 0) 1px solid;
      padding: 20px 20px 6px 20px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;

      &:focus {
        border: $blue 1px solid;
        outline: none;
      }

      &:focus ~ label {
        top: 5px;
        font-size: 12px;
        color: $blue;
        cursor: auto;
      }
    }

    label {
      color: $gray;
      font-size: 16px;
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 15px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;

    }
  }

  .btn {


    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .btn-form {
    border-radius: 20px;
    padding: 5px 25px 5px 25px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    background: $green;
    color: $white;
    transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;

    &:hover {
      background: darken($color: $green, $amount: 5);
    }
  }

  .change-avatar {
    position:relative;
    overflow:hidden;
    display:inline-block;
    cursor: pointer;
  }

  .btn-normal {
    border-radius: 20px;
    padding: 5px 25px 5px 25px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: 1px solid $blue;
    background: none;
    color:  $blue;
    transition: background, color 0.2s ease-in;
    -moz-transition: background, color 0.2s ease-in;
    -webkit-transition: background, color 0.2s ease-in;

    &:hover {
      background: $blue;
      color: $white;
    }
  }


}
