#login {
  #login-form {
    border-radius: 15px 0 0 15px;
    z-index: 1;
  }

  .overlay {
    border-radius: 0 15px 15px 0;
  }

  .custom-checkbox {
    border-radius: 50%;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $green;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-checkbox .custom-control-label::before {
    border-radius: 50%;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $green;
  }

  .helpers {
    a {
      text-decoration: none;
      transition: color .2s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }
}