#register, #login {
  background: $background;
  //typography
  .text-sm {
    font-size: 14px;
    color: $gray;
  }

  .title {
    font-family: $title-font;
    font-size: 48px;
    color: $black;
    letter-spacing: -0.005em;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  #main-content {
    min-height: 550px;
    background: $body-bg;
    border-radius: 15px;
    padding: 0;
    box-shadow: 0 2px 3px 2px rgba(197, 197, 197, 0.22);
  }

  #register-form {
    border-radius: 0 15px 15px 0;
    z-index: 1;
  }

  form {
    width: 100%;
  }

  //buttons
  .btn {
    border-radius: 20px;
    padding: 5px 25px 5px 25px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .btn-form {
    background: $green;
    color: $white;
    transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;

    &:hover {
      background: darken($color: $green, $amount: 5);
    }
  }

  .btn-normal {
    border: 1px solid $white;
    background: none;
    color:  $white;
    transition: background, color 0.2s ease-in;
    -moz-transition: background, color 0.2s ease-in;
    -webkit-transition: background, color 0.2s ease-in;

    &:hover {
      background: $white;
      color: $blue;
    }
  }

  //overlay
  .overlay {
    border-radius: 15px 0 0 15px;
    background: url("svg/bookshelf.svg");
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .title, .subtitle {
      color: $body-bg;
    }


  }


  .form-group {
    position: relative;
    height: 56px;

    input {
      display: block;
      font-size: 16px;
      width: 100%;
      height: 100%;
      background: $input-bg;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      border: rgba(128, 212, 143, 0) 1px solid;
      padding: 20px 20px 6px 50px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;

      &:focus {
        border: $blue 1px solid;
        outline: none;
      }

      &:focus + .invalid + .requirements {
        visibility: visible;
        display: block;
      }

      &.valid {
        border: 1px solid $input-valid;
      }

      &.invalid {
        border: 1px solid $input-invalid;
      }

      &.is-invalid ~ label {
        top: 5px;
        font-size: 12px;
        color: $input-invalid;
        cursor: auto;
      }

      &.is-invalid {
        border: 1px solid $input-invalid;

      }

    }

    .requirements {
      visibility: hidden;
    }

    label {
      color: $gray;
      font-size: 16px;
      position: absolute;
      pointer-events: none;
      left: 50px;
      top: 15px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;

      &.active {
        color: $blue;
        top: 5px;
        font-size: 12px;
        cursor: auto;
      }

      &.invalid {
        color: $input-invalid;
      }

      &.valid {
        color: $input-valid;
      }
    }

    .prefix {
      color: $gray;
      align-self: center;
      position: absolute;
      left: 10px;
      top: 16px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;

      &.active {
        color: $blue;
      }

      &.invalid {
        color: $input-invalid;
      }

      &.valid {
        color: $input-valid;
      }

    }

    .showPassword {
      color: $gray;
      display: inline-flex;
      align-self: center;
      position: absolute;
      left: 85%;
      top: 17px;
      cursor: pointer;

      &.hide {
        visibility: hidden;
      }
    }

    .hidePassword {
      visibility: hidden;
      color: $gray;
      display: inline-flex;
      align-self: center;
      position: absolute;
      left: 85%;
      top: 17px;
      cursor: pointer;

      &.show {
        visibility: visible;
      }
    }
  }
}