// Body
$body-bg: #ffffff;

// Typography
$title-font: "Rubik", sans-serif;
$body-font: "Roboto", sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$background: #f5f5f5;
$blue: #4d4dff;
$green: #15E6CD;
$orange: #ffb84d;
$gray: #aaaaaa;
$black: #212121;
$input-valid: #4caf50;
$input-invalid: #f44336;
$input-bg: #eeeeee;
