// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Rubik&display=swap");
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Styles
@import 'index';
@import 'register';
@import 'login';
@import 'create';

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html, body {
  height: 100%;
}


::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
  background: $blue;

}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

