<template>
    <div class="col-md-12">
        <apexchart :options="chartOptions" :series="series" height=250 type="bar"></apexchart>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    Vue.use(VueApexCharts);
    Vue.component('apexchart', VueApexCharts);

    export default {
        components: {
            VueApexCharts,
        },
        props: {
            userId: '',
        },
        data() {
            return {
                results: this.getData(),
                series: [{
                    data: [],
                    name: 'Books'
                }],

                chartOptions: {
                    colors: ['#ffb84d'],
                    plotOptions: {
                        bar: {
                            horizontal: false,
                        }
                    },
                    chart: {
                        toolbar: {
                            show: false
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    xaxis: {
                        categories: [],
                        labels: {
                            style: {
                                fontSize: '16px',
                            }
                        },

                    },
                    grid: {
                        show: false
                    }
                }
            }

        },

        methods: {
            getData() {
                axios.get(this.userId + '/authors').then((response) => {
                    this.results = response.data;
                    this.getSeries(this.results);
                    this.getLabels(this.results);
                });
            },

            getSeries(array) {
                for (let i = 0; i < array.length; ++i) {
                    this.series[0].data.push(parseInt(array[i].count));
                }
            },

            getLabels(array) {
                for (let i = 0; i < array.length; ++i) {
                    this.chartOptions.xaxis.categories.push(array[i].author);

                }
            }
        }


    }
</script>

<style scoped>

</style>