<template>
    <div>
        <button class="btn cancel" v-on:click="hideSettings()">
            <i class="material-icons-outlined">cancel</i>
            <span class="tip">Cancel</span>
        </button>
    </div>

</template>

<script>
    export default {
        methods: {
            hideSettings() {
                const container = document.querySelector('#edit-profile');
                container.classList.remove('active');
            }
        }
    }
</script>

<style lang="scss" scoped>
    .btn {
        border: none;
        padding: 0;
        margin: 0;

        &:focus, &:active {
            border: none;
            box-shadow: none;
            outline: 0;

        }
    }

    .cancel {
        color: #4d4dff;
        position: relative;

        .tip {
            transition: opacity .2s ease-in-out;
            opacity: 0;
            visibility: hidden;
            width: 120px;
            background-color: lighten(#212121, 10);
            color: #ffffff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            top: 100%;
            left: -100%;
            margin-left: -100%;
            position: absolute;
            z-index: 1;

        }

    }

    .cancel:hover .tip {
        visibility: visible;
        opacity: 1;
    }

</style>