<template>
    <div class="col-md-12">
        <apexchart :options="chartOptions" :series="series" class="w-100" height=250 type="donut"></apexchart>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    Vue.use(VueApexCharts);
    Vue.component('apexchart', VueApexCharts);

    export default {
        components: {
            VueApexCharts,
        },
        props: {
            userId: '',
        },
        data() {
            return {
                results: this.getData(),
                series: [],
                categories: [],
                chartOptions: {
                    labels: [],
                    colors: ['#ffb84d', '#ffc671', '#ffd494'],
                    dataLabels: {
                        enabled: false,
                    },
                    legend: {
                        horizontalAlign: 'center',
                        position: 'left',
                        fontSize: '16px',
                        itemMargin: {
                            horizontal: 10,

                        },
                    }
                },
            }
        },
        methods: {
            getData() {
                axios.get(this.userId + '/categories').then((response) => {
                    this.results = response.data;
                    this.getSeries(this.results);
                    this.getLabels(this.results);
                });

            },

            getSeries(array) {
                for (let i = 0; i < array.length; i++) {
                    this.series.push(parseInt(array[i].count));
                }
            },

            getLabels(array) {
                for (let i = 0; i < array.length; i++) {
                    this.chartOptions.labels.push(array[i].category);
                }

            }

        }


    }
</script>

<style scoped>

</style>