<template>
    <div>
        <button class="btn edit-profile" v-on:click="showSettings()">
            <i class="material-icons">settings</i>
            <span class="tip">Edit Profile</span>
        </button>
    </div>
</template>

<script>
    export default {
        methods: {
            showSettings() {
                const container = document.querySelector('#edit-profile');
                container.classList.add('active');
            }
        }
    }
</script>

<style scoped lang="scss">
    .btn {
        border: none;
        padding: 0;
        margin: 0;
        &:focus, &:active {
            border: none;
            box-shadow: none;
            outline: 0;

        }
    }

</style>