<template>
    <h1>{{ message }}, {{ name }}!</h1>
</template>

<script>
    export default {
        data() {
            return {
                message: this.getMessage(),
            }
        },
        props: {
            name: String,
        },

        methods: {
            getMessage: function () {
                let today = new Date();
                let currentHour = today.getHours();

                if (currentHour < 12) {
                    this.message = "🌞 Good morning";
                } else if (currentHour < 18) {
                    this.message = "🕑 Good afternoon";
                } else {
                    this.message = "🌙 Good evening";
                }
                return this.message;
            },


        }

    }

</script>

<style scoped>

</style>