<template>
    <div id="search">
        <div class="row px-3 justify-content-center">
            <div class="col-md-12">
                <input class="w-100" placeholder="Find a book..." type="text" v-model="keywords">
            </div>
        </div>
        <div class="row d-flex" v-if="results.length > 0">

            <div :key="result.id" class="col-md-4" v-for="result in results">

                <a :href="'/p/'+result.id">
                    <img :src="'http://bookhub-demo.s3-eu-central-1.amazonaws.com/'+result.image"
                         alt="Book Cover"
                         class="w-100 cover">
                </a>
            </div>


        </div>
    </div>
    <!--    <div class="row px-3 justify-content-center align-items-center d-flex" id="search">-->
    <!--        <div class="col-md-12">-->
    <!--            <input class="w-100" placeholder="Find a book..." type="text" v-model="keywords">-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div v-if="results.length > 0">-->
    <!--        <div class="row d-flex">-->
    <!--            <div class="col-md-12">-->
    <!--                <div :key="result.id" v-for="result in results">-->

    <!--                    <a :href="'/p/'+result.id">-->
    <!--                        <img :src="'http://bookhub-demo.s3-eu-central-1.amazonaws.com/'+result.image"-->
    <!--                             alt="Book Cover"-->
    <!--                             class="w-100 cover">-->
    <!--                    </a>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->

</template>

<script>
    export default {
        data() {
            return {
                keywords: null,
                results: []
            };
        },

        watch: {
            keywords(after, before) {
                this.fetch();
            }
        },

        methods: {
            fetch() {
                axios.get('/search', {params: {keywords: this.keywords}})
                    .then(response => this.results = response.data)
                    .catch(error => {
                    });

            }
        }

    }
</script>

<style lang="scss" scoped>
    input {
        font-family: "Rubik", sans-serif;
        background: none;
        caret-color: #ffffff;
        outline: none;
        box-shadow: none;
        border: none;
        font-size: 24px;
        color: #ffffff;
    }


    ::placeholder {
        color: #ffffff;
        font-size: 24px;
        opacity: .5;

    }


</style>